.chart-series-line.series0 {
    -fx-stroke: sandybrown;
}
.chart-line-symbol.series0 {
    -fx-background-color: sandybrown, white;
}

.chart-series-line.series1 {
    -fx-stroke:  darkgreen;
}
.chart-line-symbol.series1 {
    -fx-background-color:  darkgreen, white;
}

.chart-series-line.series2 {
    -fx-stroke: crimson;
}
.chart-line-symbol.series2 {
    -fx-background-color: crimson, white;
} 
.chart-title {
  -fx-font-size: 1.2em;
}
